#availability-calendar {
  width: 95%;
  display: table;
}

#availability-calendar-body {
  display: table-row-group;
}

#availability-calendar-headers {
  display: table-header-group;
}

.availability-calendar-headers-cell {
  display: table-cell;
}

.calendar-week-row {
  display: table-row;
}

.calendar-day-cell {
  display: table-cell;
  text-align: center;
  border: 1px solid black;
}

.calendar-day-cell-past {
  color: red;
}

.calendar-day-cell-today {
  color: blue;
}
