version: "3.8"

services:
  padel-server:
    build:
      context: .
      dockerfile: Dockerfile
    image: viva-padel-server:latest
    container_name: viva-padel-server
    ports:
      - "3000:3000"
    environment:
      - PADEL_MOCK_DATA=/usr/local/share/viva-padel-server/data
    restart: always

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
