services:
  padel-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - CARGO_BUILD_FLAGS=${CARGO_BUILD_FLAGS:-}
    image: viva-padel-server:latest
    container_name: viva-padel-server
    ports:
      - "3000:3000"
    environment:
      - PADEL_MOCK_DATA=/usr/local/share/viva-padel-server/data
    restart: always
